*{
    padding: 0px;
    margin: 0px;
}
body{
    background: linear-gradient(to bottom, #0beaff, #00d4fd, #00bef7,
     #00a7ee, #008fe0, #0081dd, #1873d7, #2f64d0, #275bd6, #2650db, #2e44de, #3b34e0) no-repeat center center fixed;
    background-size: cover;
}

.wrapper{
    width: 40%;
    height: 100%;
    margin-top: 100px;
    border-radius: 25px;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow:  20px 20px 67px #aeaeae,
             -20px -20px 67px #ffffff;
}
.form-group{
    padding: 10px;
    text-align: center;
}
.flex{
    display: flex;
    justify-content: center;
    
}
.form-control{
    margin-right: 10px;
}

.list-group{
    padding-bottom: 20px;
    cursor: pointer;
}
p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    color: red;
}